body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("bg.jpg");
    background-size: cover;

}
.container{
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
}
.draggable{
    background-color: white;
    border: 1px solid black;
    cursor: move;
    width: 10%;
    display: inline;
    padding: 1rem;
    margin: 1rem;
}
.draggable.dragging{
    opacity: .5;
}
h1{
    color: beige;
}